name: Run Tests on PR

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - master
      - main

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python3 -m pip install poetry
          python3 -m poetry install

      - name: Run tests
        run: |
          python3 -m poetry run pytest -q tests
